[remap-ville-scenarios]
urban-development-scenario = BAU
urban-development-scenario.type = ChoiceParameter
urban-development-scenario.choices = BAU, PUN, DGT
urban-development-scenario.help = The development scenario to map (BAU: Business As Usual, PUN: Polycentric Urban Networks, DGT: Digitalization)

year = 2040
year.type = ChoiceParameter
year.choices = 2040, 2060
year.help = The year of the future scenario

district-archetype = URB
district-archetype.type = ChoiceParameter
district-archetype.choices = URB, SURB, RRL
district-archetype.help = URB:Urban, SURB:Suburban, RRL:Rural

construction = S
construction.type = ChoiceParameter
construction.choices = S, TB, UC, F
construction.help = Construction standards (S:Success, TB:Take Back, UC:Unintended Consequences, F:Failure)
